/* general style */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.container{
  width: 1120px;
  margin: 0 auto;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.float_colmn{
  float: left;
}

.colm_3box{
  width: calc(100%/3);
}

.colm_2box{
  width: 50%;
}

/* bottone */
.btn{
  border: solid 1px white;
  line-height: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.btn_green{
  background-color: #7cbb02;
  border: 0;
}

.btn_big{
  padding: 15px;
}

/* topography */
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #808080;
  font-size: 16px;
}

h1,
h2,
h3{
  font-weight: 500;
  color: black;
}

.header_up{
  text-transform: uppercase;
  font-size: 12px;
  line-height: 50px;
}


/* HEADER */
header{
  background-color: #0c325a;
  background-image: url(img/background-header.png);
  background-size: 1000px; /* ridimensiona l'img */
  background-repeat: no-repeat;
  height: 500px;
  background-position: right bottom;
}

.header_up .colm_3box:first-child{
  width: 10%;
  /* background-color: red; */
}

.header_up .colm_3box:nth-child(2){
  width: 55%;
  /* background-color: orange; */
  text-align: center;
}

.header_up .colm_3box:last-child{
  width: 35%;
  /* background-color: orange; */
}

/* lista nav menu */
.colm_3box nav ul li{
  display: inline-block;
  padding: 0 8px;
}

.colm_3box nav ul li a{
  text-decoration: none;
  color: white;
}

.colm_3box nav ul{
  padding-left: 0;
}

.colm_3box nav ul{
  padding-right: 0;
}

/* header down */
.header_down .container{
  text-align: left;
}
.header_down .container .titolo_header{
  width: 50%;
  margin-top: 100px;
  /* background-color: orange; */
}
.header_down .container h1{
  font-size: 45px;
  margin-bottom: 30px;
  color: white;
}


/* MAIN */

/* sezione1: "scuole di lingua" */
main section:first-child{
  text-align: center;
  background-color: #d3d3d3;
  padding: 30px;
}

main section:first-child h2{
  margin-bottom: 7px;
}

/* sezione2: servizi */
section:nth-child(2) .container .colm_3box{
  padding: 30px;
  text-align: center;
}

section:nth-child(2) .container .colm_3box h2{
  color: #7cbb02;
  margin-bottom: 10px;
}

section:nth-child(2) .container .colm_3box img{
  height: 100px;
}


/* sezione3:"testa il tuo inglese" */
.we .container .colm_2box img{
  height: 350px;
}

.we .container .colm_2box {
  text-align:left;
  padding: 50px;
}

.we .container .colm_2box:nth-child(2){
  width: 40%;
}

.we .container .colm_2box h2{
  font-size: 25px;
  margin-bottom: 10px;
}

.we .container .colm_2box p{
  margin-bottom: 10px;
}

.we .container .colm_2box a{
  color: blue;
}


/* FOOTER */
footer {
  background-color: #d3d3d3;
  height: 150px;
  padding: 50px;
}

footer .container div:last-child, div:nth-child(2){
  text-align: right;
}

footer .container div:nth-child(2) span{
  text-decoration: underline;
  padding-left: 25px;
}

footer .container div:nth-child(2) span i{
  margin-left: 30px;
  position: relative;
  top: 2px;
}

footer .fixed{
  position: fixed;
  bottom: 0;
  right: 150px;
  min-width: 80px;
  text-align: center;

}
footer .fixed a{
  padding: 30px;
  position: relative;
}
/* footer .fixed a{
  text-decoration: none;
  color: white;
} */
